.gradient {
  background-image: linear-gradient(
    rgb(255, 255, 255) -6.71%,
    rgb(235, 235, 242) 56.19%,
    rgb(223, 223, 231) 106.56%
  );
  padding: 0px 6px 6px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.horizontal-rule {
  height: 0.5px;
  background: #02060c36;
  width: calc(100% - 32px);
  margin: 40px auto;
}
